
@{
}


<h1>Einstellungen</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="Gearbox" class='btn btn-primary btn-sm'>Getriebe</a></th>
            
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="Fuel" class='btn btn-primary btn-sm'>Kraftstoff</a></th>
            
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="CarAccessoriesUnit" class='btn btn-primary btn-sm'>Autozubehör-Einheit</a></th>
            
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="CarAccessoriesProductGroup" class='btn btn-primary btn-sm'>Produktgruppe Autozubehör</a></th>
            
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="OrderStatus" class='btn btn-primary btn-sm'>Auftragsstatus</a></th>
  
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="Sex" class='btn btn-primary btn-sm'>Geschlecht</a></th>
          
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="Country" class='btn btn-primary btn-sm'>Land</a></th>
          
            <th><a asp-controller="SettingsWithManagerAccess" asp-action="SpokenLangues" class='btn btn-primary btn-sm'>Muttersprachen</a></th>
        </tr>
    </thead>
</table>