@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Dealership</h1>
    @if (GlobalData.UserAccess == "Guest")
    {
        <br />
        <a asp-controller="Login" asp-action="Edit" class='btn btn-primary btn-sm'>Login</a>
    }
    
</div>
